.cart-item {
  display: flex;
  border-bottom: 0.25px solid black;
  padding-bottom: 36px;
  padding-top: 36px;
  font-size: 30px;
  justify-content: space-between;
}

.cart-item-first-block {
  display: flex;
  gap: 60px;
}

.cart-item-first-block-image {
  width: 250px;
  height: 250px;
}

.cart-item-first-block-image img {
  width: 100%;
  height: 100%;
}

.cart-item-first-block-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.cart-item-second-block {
  display: flex;
  width: 400px;
  justify-content: space-between;
  height: 100%;
}

.cart-item-second-block-quintity {
  display: flex;
  gap: 25px;
}

.cart-item-second-block-quintity-number {
  display: flex;
  gap: 20px;
  width: 36px;
  font-size: 30px;
  text-align: center;
  background-color: #edd286;
  border: none;
  color: rgba(63, 80, 230, 0.67);
  font-family: "Nunito Sans", sans-serif;
}

.cart-item-second-block-quintity-button {
  cursor: pointer;
  width: 40px;
  text-align: center;
  border-radius: 30px;
}

.cart-item-second-block-quintity-number:focus-visible {
  outline: none;
}

.cart-item-second-block-quintity-button:hover {
  background-color: #f6ebeb;
}

.cart-item-second-block-quintity-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-item-second-block-remove {
  cursor: pointer;
  width: 40px;
  text-align: center;
  border-radius: 30px;
}

.cart-item-second-block-remove:hover {
  background-color: #f6ebeb;
}

.cart-item-second-block-price {
  display: flex;
  align-items: center;
}
