/* .homepage {
  overflow-y: hidden;
} */

.homepage-hero {
  display: flex;
  margin-top: 32px;
  margin-bottom: 146px;
  text-align: center;
  justify-content: space-around;
}

.homepage-hero img {
  /* width: 92.5%; */
  /* height: 700px; */
}

.homepage-hero-title {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 40px;
  color: rgba(63, 80, 230, 0.67);
  justify-content: center;
}

.homepage-about-section-image {
  position: absolute;
  left: 135px;
  top: 22px;
  width: 192px;
  height: 192px;
}

.homepage-about-section-image-block {
  position: relative;
}

.homepage-about {
  text-align: center;
  margin-bottom: 146px;
}

.homepage-about-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
  color: rgba(63, 80, 230, 0.67);
}

.homepage-about-sections {
  display: flex;
  justify-content: space-around;
  margin: 0px 15px;
}

.homepage-about-section {
  width: calc((100% / 3) - (50px * 2) / 3);
}

.homepage-about-section svg {
  width: 100%;
  z-index: 1;
}

.homepage-about-section h2 {
  font-weight: 400;
}

.homepage-about-section p {
  font-weight: 300;
  font-size: 12px;
}

.homepage-services {
  margin-bottom: 146px;
}

.homepage-services-title {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 500;
  color: rgba(63, 80, 230, 0.67);
  text-align: center;
}

@media (min-width: 1440px) {
  .homepage-hero-title {
    font-size: 60px;
  }

  .homepage-about-title {
    font-size: 54px;
  }

  .homepage-about-section h2 {
    font-size: 36px;
  }

  .homepage-about-section p {
    font-size: 24px;
  }

  .homepage-services-title {
    font-size: 54px;
  }
}
